<h1 class="">Books List</h1>
<div class="container">
  <table class="table table-info table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Author</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let book of books,let i = index">
      <tr>
        <td>{{i + 1}}</td>
        <td><a [routerLink]= "['/detail/', book.id]">{{book.title}}</a></td>
        <td>{{book.author}}</td>
        <td><a [routerLink]="['/edit/', book.id]" class="mt-4 mb-4">Edit</a></td>
        <td><a href="/list" (click)="deleteBook(book.id)" class="mt-4 mb-4">Delete</a></td>
      </tr>
    </ng-container>
    </tbody>

  </table>
</div>


