<h1>Create New Books</h1>
<p>{{output}}</p>
<div class="container">
  <form action="" (ngSubmit)="createBook()">
    <table>
      <tr>
        <div>
          <label>Name</label>
          <td><input type="text" name="name" [(ngModel)]="book.title"></td>
        </div>
      </tr>
      <tr>
        <div>
          <label>AUTHOR</label>
          <td><input type="text" name="price" [(ngModel)]="book.author"></td>
        </div>
      </tr>
      <tr>
        <div>
          <label>Description</label>
          <td><textarea type="text" name="description" [(ngModel)]="book.description"></textarea></td>
        </div>
      </tr>
      <tr>
        <td><button>Create</button></td>
      </tr>
    </table>
  </form>
</div>


